thead.bg-info tr {
    background-color: #0053ff !important;
    background-size: cover;
}
table thead tr th {
    vertical-align:super !important;
}
.nav-tabs a {
    color: #FFF;
    transition: all .2s;
}
#tipoPerfil {
    font-size: .7em;
    color: #ACACAC;
}
#tipoPerfilDesktop {
    opacity: .5;
}
.cor-powercar {
    background-color: #2b2c7c;
    background-image: linear-gradient(to right, #2b2c7c, #0053ff);
}
  /*Menu Cabecalho*/
.nav-cabecalho {
    height: 66px;
    min-height: 66px;
}
.logo-admin {
    background-color: #2b2c7c;
    background-image: linear-gradient(to right, #2b2c7c, #0053ff);
    max-width: 250px;
    width: 250px;
    height: 66px;
    max-height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .6s;
}
.logo-admin img {
    max-height: 60px;
    object-fit: contain;
    object-position: center;
    width: 100%;
}
.nav-menu {
    background: #FFF;
    color: #121416;
    height: 66px;
    max-height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.125);
}
.nav-menu a {
    color: #121416;
}
.notificacao-menu {
    position: relative;
}
.notificacao-menu .icone-nav {
    font-size: 1.2rem;
}
.numero-notificacao {
    padding: 1px 2px;
    color: #FFF;
    background: #FF6B40;
    position: absolute;
    min-width: 22px;
    min-height: 22px;
    text-align: center;
    top: -9px;
    left: 10px;
    font-size: .7em;
    border: 2px solid #6fffff;
    border-radius: 50px;
}

.dropdown-header {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    border: 0;
    margin: 0 0 10px 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}


#ntNotificacao .dropdown-item {
    padding-bottom: .9rem;
    border-radius: .25rem;
    white-space: normal;
}
#cardConfig .dropdown-item {
    transition: all 0.2s ease-in-out;
    position: relative;
}
#cardConfig .dropdown-item:hover, .dropdown-item:focus {
    color: #0053ff !important;
}
#cardConfig .dropdown-item::before {
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
}
#cardConfig .dropdown-item:hover::before {
    content: "";
    height: 100%;
    width: 4px;
    background: #0053ff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
}
.nt-mensagem {
    font-size: .9em;
    display: block;
    min-width: 300px;
}
.nt-data {
    font-size: .7em;
    color: #8d8e8e;
    display: block;
}
/*AJUSTAR FORM BUSCA*/
@media (max-width: 480px) {
    .displayNone {
        display: none;
    }
    #FiltroBusca span {
        font-size: .7em;
        text-align: center;
    }
    #FiltroBusca span input {
        border-radius: .25rem;
        text-align: center;
        border: 0;
        border-bottom: 1px solid rgba(0,0,0,0.125);
    }
    #FiltroBusca span button, #FiltroBusca span a {
        margin-left: 4px;
    }
    .display-4.titulo {
        text-align: center !important;
    }

}

/*-- Imagem de perfil no menu --*/
#perfilMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#perfilMenu:hover {
    cursor: pointer;
    max-height: 34px;
}
.img-menu {
    object-fit: cover;
    object-position: center;
    max-height: 34px;
    max-width: 34px;
    border-radius: 50px;
    margin-right: 5px;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.125);
    padding-top: 0;
}
.perfil-menu .dropdown-menu.show {
    width: 300px;
    margin-left: 18px;
    top: -18px !important;
}
.fundo-perfil-drop {
    height: 80px;
    max-height: 80px;
    position: relative;
    margin-bottom: 40px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.btn-perfil {
    min-width: 100px;
}
.perfil-drop {
    object-fit: cover;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 40px;
    left: 110px;
    border-radius: 0.25rem;
    border: 2px solid rgb(255, 255, 255);
}

/*CONTEUDO*/

/*MENU LATERAL*/
#menuLateral {
    max-width: 250px;
    width: 250px;
    background: #2f405b;
    color: #FFF;
    padding-top: 20px;
    min-height: calc(100vh - 46px);
    transition: all .6s;
}

#navBarLateral a {
    padding: 0.5rem 0;
    color: #FFF;
    position: relative;
    transition: all .3s;
    font-weight: 300;
    font-size: .9em;
    padding: 5px 20px 5px 20px;
    transition: all .4s ease-in-out;
    display: flex;
    align-items: center;
}
#navBarLateral a:hover {
    background: #26364f;
}
#navBarLateral a .seta {
    position: absolute;
    right: 20px;
    top: 10px;
}
.navIcone {
    max-width: 25px;
    min-width: 25px;
    font-size: 1.5em;
}
.linkMenu {
    text-decoration: none !important;
    transition: all 0.2s;
}
.linkMenu:hover {
    color: #0053ff;
}
#navBarLateral a.active {
    background-image: linear-gradient(to right, #2b2c7c, #0053ff);
}
#navBarLateral a.active::after {
    content: "";
    height: 10px;
    width: 10px;
    background: #FFF;
    border: 2px solid rgb(255,255,255);
    border-radius: 50%;
    position: absolute;
    right: -5px;
    transform: rotate(45deg);
}
.active2::after {
    content: "";
    height: 10px;
    width: 10px;
    background: #FFF;
    position: absolute;
    right: -5px;
    transform: rotate(45deg);
}
.active2::before {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    background: #0053ff;
    left: 0;
}
/*Conteudo Main*/
#conteudoMain {
    padding-top: 20px;
    position: relative;
    width: calc(100% - 360px);
}
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.titulo-conteudo {
    font-size: 24px;
}
.card {
    box-shadow: 0 0 5px rgba(0,0,0,0.125);
}
.card-body {
    min-height: 120px;
}
.card-body .card-left {
    width: 30%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    position: relative;
}
.gradiente-azul {
    background-image: linear-gradient(to left, #23df96, #22a5d5);
}
.gradiente-vermelho {
background-image: linear-gradient(to left, #dfd223, #d52222);
}
.gradiente-verde {
background-image: linear-gradient(to left, #6092d4, #b122d5);
}
.card-left .card-fundo-title {
    position: absolute;
    background: #FFF;
    height: 25px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    left: 10px;
    top: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-body .card-right {
    padding-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card-right h1 {
    font-size: 4rem;
    margin: 0;
}
.card-right span {
    font-size: .7rem;
    margin-bottom: 5px;
}

/*CONTEUDO O.S. LISTAR*/
#pesquisar span {
    box-shadow: 0 0 3px rgba(0,0,0,0.125);
}
#pesquisar input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: transparent;
}
#pesquisar button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*-- Tabela --*/
.italico {
    font-style: oblique;
}
#ultimosServicosThead tr th {
    font-weight: 500;
    border: none;
}
#ultimosServicosTbody tr td {
    text-transform: uppercase;
    font-size: .9em;
}

/*EDITANDO DADOS DO CLIENTE*/
.editar-cliente-titulo {
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}